@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: rgb(29, 29, 29);
    font-family: Merriweather;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90vh;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(36, 36, 36);
    color: white;
}

#start{
    padding: calc(10px - 0.1vw);
    width: calc(120px - 0.1vw);
    margin-top: calc(25px - 0.1vw);;
    background-color: rgb(18, 18, 18);
    color: floralwhite;
    font-size: calc(20px - 0.5vh);
    font-family: Merriweather;
    border: solid 2px rgb(0, 0, 0);
}

#tit{
    margin-top: calc(20px - 0.5vh);
}
mark{
    background-color: rgba(255, 255, 255, 1);
}
#start:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
#start:active{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 217);
}
#ahegao{
    display: none;
    height: 100vh;
    width: 100%;
    background-image: url('ahegao.gif');
    background-size: contain;
    background-repeat: repeat-x;
}